**/__pycache__/
**/venv/
**/.env

**/__pycache__/
**/data/
**/lightning_check/
**/lightning_logs/
**/check/
**/notebooks/
**/scripts/
**/models/
**/testing.py
**/arya_transformer.py
**/.vscode
**/my_model.ckpt
